<link href="../stylesheets/eventMenu.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 style="text-align: center" id="event_name">Мероприятие: </h2>
            <div id="ballsWaveG">
                <div id="ballsWaveG_1" class="ballsWaveG"></div>
                <div id="ballsWaveG_2" class="ballsWaveG"></div>
                <div id="ballsWaveG_3" class="ballsWaveG"></div>
                <div id="ballsWaveG_4" class="ballsWaveG"></div>
                <div id="ballsWaveG_5" class="ballsWaveG"></div>
                <div id="ballsWaveG_6" class="ballsWaveG"></div>
                <div id="ballsWaveG_7" class="ballsWaveG"></div>
                <div id="ballsWaveG_8" class="ballsWaveG"></div>
            </div>
            <ul class="nav nav-tabs nav-justified" id="main_menu">
                <li role="presentation" value="1" class="active" onclick="main_menu(this)"><a>Меню участников</a></li>
                <li role="presentation" value="2" onclick="main_menu(this)"><a>Управление расходами</a></li>
                <li role="presentation" value="3" onclick="main_menu(this)"><a>Управление бюджетом</a></li>
            </ul>
        </div>
    </div>
        <div class="row">
            <div class="col-sm-9" id="part_menu_wrapper" style="display: block">
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addMenu"
                        >Добавить участника</button>
                        <button type="button" class="btn btn-danger" id="del_part">Удалить участника</button>
                    </div>
                </div>
                <table class="table table-bordered" id="part-list">
                    <thead>
                    <tr>
                        <th style="width:7%;">№</th>
                        <th>Имя</th>
                        <th>Внесено</th>
                        <th>Долг</th>
                        <th style="width:20%;">Внесение средств</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="col-sm-9" id="costs_menu_wrapper" style="display: none">
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#add_cost"
                        >Добавить статью расходов</button>
                        <button type="button" class="btn btn-danger" id="del_cost">Удалить статью расходов</button>
                    </div>
                </div>
                <table class="table table-bordered" id="costs_list">
                    <thead>
                    <tr>
                        <th style="width: 7%;">№</th>
                        <th>Наименование</th>
                        <th style="width: 25%;">Сумма</th>
                    </tr>
                    </thead>
                </table>
                <button style="margin-left: 75%" type="button" class="btn btn-primary" onclick="save_costs()">Подтвердить</button>
            </div>
            <div class="col-sm-9" id="budget_menu_wrapper" style="display: none">
                <div class="row">
                    <div class="col-sm-9">
                        <h2>Таблица управления бюджетом</h2>
                        <table class="table table-bordered">
                            <tr>
                                <td>Бюджет мероприятия</td>
                                <td style="width: 250px"><input type="number" class="form-control" id="bt_budget"
                                                                oninput="bt_change_budget(this)"></td>
                            </tr>
                            <tr>
                                <td>Сумма взноса участника</td>
                                <td style="width: 250px"><input type="number" class="form-control" id="bt_part_pay"
                                                                                oninput="bt_change_budget(this)"></td>
                            </tr>
                            <tr>
                                <td>Расходы</td>
                                <td style="width: 250px" id="bt_costs_sum"></td>
                            </tr>
                            <tr>
                                <td id="bt_diff_name">Расходы превышают бюджет на:</td>
                                <td style="width: 250px" id="bt_diff"></td>
                            </tr>
                        </table>
                        <button type="button" class="btn btn-info" onclick="equals_budget_to_costs()"
                        >Приравнять бюжет к расходам</button>
                        <button type="button" class="btn btn-primary"
                            onclick="change_budget(document.getElementById('bt_budget').value)">Подтвердить</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <h4 onclick="change_row_color()">Информация:</h4>
                <table class="table table-bordered">
                    <tr class="info">
                        <td>Количество участников</td>
                        <td id="amount_of_participants"></td>
                    </tr>
                    <tr class="info">
                        <td>Сумма расходов</td>
                        <td id="infoCosts_sum"></td>
                    </tr>
                    <tr class="info">
                        <td>Бюджет мероприятия</td>
                        <td id="infoBudget"></td>
                    </tr>
                    <tr class="info">
                        <td>Суммарная задолженность</td>
                        <td id="infoDebt"></td>
                    </tr>
                    <tr class="info">
                        <td>Суммарный взнос</td>
                        <td id="infoIncome"></td>
                    </tr>

                </table>
            </div>
        </div>

</div>
    <!-- Modal -->
    <div id="addMenu" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Меню добавления участника</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="new_name">Имя:</label>
                        <input type="text" class="form-control" id="new_name">
                    </div>
                    <form role="form" onchange="showSumForm()">
                        <div class="radio">
                            <label><input type="radio" checked="checked"
                                          name="optradio" value="1">Распределить бюджет между участниками</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="optradio" value="2">Сохранить общий первоначальный взнос,
                                увеличив бюджет</label>
                        </div>
                    </form>
                    <div id="formForSum" style="display: none">
                        <label for="new_sum">Сумма:</label>
                        <input type="number" class="form-control"
                               value="" id="new_sum">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="add_part" onclick="add_part()"
                            data-dismiss="modal">Добавить</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                </div>
            </div>

        </div>
    </div>
    <!-- Modal -->
<div class="modal fade" id="delMenu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Удаление участника</h4>
      </div>
      <div class="modal-body">
        <p>Вы собираетесь удалить участника: <span id="name_for_del"></span></p>
        <p>Сумма внесенная участником (возврат): <span id="income_for_del"></span></p>
          <!--<div class="checkbox">
            <label>
                <input type="checkbox" value="" checked id="repayment">Вернуть деньги</label>
            </div>-->
          <div class="radio">
              <label><input type="radio" checked="checked"
                            name="del_opt" value="1">Не изменять бюджет мероприятия.</label>
          </div>
          <div class="radio">
              <label><input type="radio" name="del_opt" value="2">Уменьшить бюджет на велечину начального взноса.</label>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary" id="del_confirm" data-dismiss="modal">Подтвердить</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
    <div id="add_cost" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Добавление стати расходов</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="new_cost_name">Наименование:</label>
                        <input type="text" class="form-control" id="new_cost_name">
                    </div>

                    <div id="formForSum">
                        <label for="new_cost_sum">Сумма:</label>
                        <input type="number" class="form-control" value="" id="new_cost_sum">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="add_cost()"
                            data-dismiss="modal">Добавить</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                </div>
            </div>

        </div>
    </div>
    <script type="text/javascript" src="../javascripts/scriptEventMenu.js"></script>
