<div class="container">
    <h2>Список ваших мероприятий</h2>
	<table class="table table-bordered">
	    <thead>
		    <tr>
		        <th style="width: 7%;">№</th>
		        <th>Наименование</th>
		        <th style="width: 25%;">Действие</th>
		    </tr>
	    </thead>
	    <tbody>

	    {{#each data}}
		    <tr>
		    	<td>{{inc @index}}</td>
		    	<td><a href="event_menu/{{ _id }}">{{ event_name }}</a></td>
		    	<td><a onclick="del_event('{{ _id }}')">Удалить</a></td>
		    </tr>
		{{/each}}

	    </tbody>
	</table>
    <button type="button" class="btn btn-success" onclick="location.href = '/new_event'">Добавить мероприятие</button>
</div>
<script type="text/javascript" src="../javascripts/scriptEventsList.js"></script>

