<div class="container">
    <div class="jumbotron">
        <h2>Добро пожаловать в Event manager</h2>
        <p>Тут вы сможете с легкостью управлять бюджетом любого мероприятия</p>
        {{#if username}}
        <p align="center"><a class="btn btn-primary btn-lg" href="/new_event" role="button">Создать мероприятие</a></p>
        {{else}}
        <p align="center"><a class="btn btn-primary btn-lg" href="/login" role="button">Войти</a></p>
        <p align="center"><a class="btn btn-primary btn-lg" href="/register" role="button">Регистрация</a></p>
        {{/if}}
    </div>
</div>
