<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form method=POST action="/login">
                <div class="form-group">
                    <label for="exampleInputEmail1">Логин</label>
                    <input type="text" class="form-control" name="username" placeholder="Логин"
                    required minlength="4" maxlength="12">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Пароль</label>
                    <input type="password" class="form-control" name="pass" placeholder="Пароль"
                    required minlength="6" maxlength="20">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Вход</button>
            </form>
            <br>
            <div>
                Нет аккаунта? <a href="/register">Регистрация</a>.
            </div>
            {{#if mess }}
                {{#each mess}}
                <ul><li class="text-danger">{{this}}</li></ul>
                {{/each}}
            {{/if}}
            
        </div>
    </div>
</div>