<div class="container">
    <h2 align="center">Введите данные для создания нового мероприятия</h2>
    <div class="row">
        <div class="col-md-6">
            <label for="event_name">Название мероприятия</label>
            <input type="text" class="form-control" id="event_name" name="event_name" required style="width: 250px;">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="radio">
                <label>
                    <input type="radio" onchange="show()" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                    Бюджет на основе затрат
                </label>
                <label>
                    <input type="radio" onchange="show()" name="optionsRadios" id="optionsRadios2" value="option2">
                    Бюджет на основе взносов участников
                </label>
            </div>
        </div>
    </div>
    <div class="row" id="income_per_person" style="display: none;">
        <div class="col-md-6">
            <label for="budget" id="budgetFormTitle">Взнос участника</label>
            <input type="number" class="form-control" id="budget" name="budget" style="width: 250px"><br>
        </div>
    </div>
    <div class="row" id="costs_adding">
        <div class="col-md-6">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Наименование</th>
                    <th width="35%">Сумма</th>
                </tr>
                </thead>
                <tbody id="costs_table">
                </tbody>
                <tr>
                    <td onclick="add_cost_row()" colspan="2"><span class="glyphicon glyphicon-plus-sign"
                                                       style="color: rgba(25, 139, 21, 0.72)"></span>
                        Добавить статью затрат (двойной клик по строке для удаления)</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="radio">
            <label>
                <input type="radio" onchange="choose_part_input()" name="part_input_opt" value="option1" checked>
                Ввод по одному участнику
            </label>
            <label>
                <input type="radio" onchange="choose_part_input()" name="part_input_opt" value="option2">
                Поле для вставки большого количества (из Excel)
            </label>
        </div>
        </div>
    </div>
    <p id="list_info" style="font-size: 18px">Список участников:</p>
    <div class="row">
        <div class="col-md-6" id="single_input" style="display: block">
            <ol id="part_list" style="font-size: 18px"></ol>
            <label for="participant_name">Для добавления участника введите имя и нажмите Enter </label>
            <input class="form-control" type="text" name="participants" id="participant_name" style="width: 250px"><br>
        </div>
        <div class="col-md-6" id="paste_input" style="display: none">
            <textarea id="big_part_list" class="form-control" rows="10" style="width: 350px"
            placeholder="Вставьте сюда список участников"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-default" id="save">Создать</button>
        </div>
    </div>
</div>

    <script type="text/javascript" src="../javascripts/scriptNewEvent.js"></script>
