<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form method=POST action="/register">
                <div class="form-group">
                    <label for="exampleInputEmail1">Введите логин</label>
                    <input type="text" class="form-control" name="username" placeholder="Логин (латинские буквы и цифры)"
                    value=""
                    required minlength="4" maxlength="12" pattern="^[a-zA-Z0-9]+$">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Введите пароль</label>
                    <input type="password" class="form-control" name="pass"
                           placeholder="Введите пароль (латинские буквы и цифры)" id="password1"
                    required minlength="6" maxlength="20" pattern="^[a-zA-Z0-9]+$">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Подтвердите пароль</label>
                    <input type="password" class="form-control" id="password2"
                           placeholder="Подтвердите пароль"
                    required minlength="6" maxlength="20" pattern="^[a-zA-Z0-9]+$">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Регистрация</button>
            </form>
            <br>
            <div>
            {{#if mess }}
                {{#each mess}}
                <ul><li class="text-danger">{{this}}</li></ul>
                {{/each}}
            {{/if}}
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../javascripts/scriptReg.js"></script>